%section.featured
  .wrapper
    .thumb
      .img-wrap
        = link_to '#' do
          = image_tag('http://lorempixel.com/1200/400/abstract/3')
          .img-shadow

%section.submissions
  .wrapper
    %h2 Recent Submissions
    - if @submissions.present?
      %ol.thumbs
        = render partial: 'shared/submission', collection: @submissions
    - else
      %p There are no submissions yet!

= link_to 'New Submission', new_submission_path
