///////////////////////////////////////////////////////////////////////////////
//
//  Basic Application Layout
//
///////////////////////////////////////////////////////////////////////////////

html {
  body {
    background-color: $body-color;
    background: $body-color image-url('bg-noise.png');
  }
}

.wrapper {
  @include outer-container;
  padding: 0 1em;

  @include media($max-width) {
    padding: 0;
  }
}

img {
  max-width: 100%;
}

section {
  padding: $base-line-height 0;
}

.featured {
  @extend %dark;

  .thumb {
    margin: $base-line-height 0;
  }
}

///////////////////////////////////////////////////////////////////////////////
//
//  Forum Posts
//
///////////////////////////////////////////////////////////////////////////////

ol.forum-posts {
  padding: 0;

  li.forum-post {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($tablet-only) {
      @include span-columns(4);
      @include omega(2n);
    }

    @include media($desktop) {
      @include span-columns(4);
      @include omega(3n);
    }

    .avatar {
      @include span-columns(1 of 4);
    }

    hgroup {
      @include span-columns(3 of 4);

      h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
//
//  Submission
//
///////////////////////////////////////////////////////////////////////////////

.submission-title-section {
  @include row;

  .vcard {
    @include span-columns(11);
  }

  .action-menu {
    @include span-columns(1);
    @include omega;
  }
}

.submission {
  @extend %dark;

  .vcard {
    @include clearfix;
  }

  .byline {
    margin-top: .5em;

    p {
      font-size: 1.25em;
    }
  }

  .thumb {
    margin: $gutter auto;
    display: table;

    img {
      width: 100%;
    }
  }
}

.submission-details {
  @include clearfix;
  padding: $base-line-height $gutter;

  .notes {
    @include span-columns(9);

    @include media($mobile) {
      @include span-columns(4);
    }

    h2 {
      margin-top:0;
    }
  }

  .meta {
    @include span-columns(3);

    @include media($mobile) {
      @include span-columns(4);

      ol {
        padding: 0;
        margin-top: $base-line-height;
      }
    }

    li {
      padding: .5rem 0 .5rem .75rem;
      border-bottom: 1px solid rgba(255,255,255,.1);
    }

    i {
      margin-right: .5em;
    }
  }
}

.comments {
  ol {
    @include clearfix;
    padding: 0;
  }

  ol li {
    @include span-columns(12);
    margin-right: 0;
    padding: $base-line-height 0;

    &:last-child {
      border-bottom: none;
    }
  }

  .comment-details {
    @include row;
  }

  form {
    @include calc(width, "100% - 6.5rem - #{$gutter * 2}");
    float: left;

    h2 {
      margin-top: 0;
    }
  }

  textarea {
    width: 100%;
    height: $base-line-height * 8;
  }

  input[type="submit"] {
    float: right;
  }
}

.comment-chip {
  @extend %chip;
  @include calc(width, "100% - 6.5rem - #{$gutter * 2}");
  @include clearfix;
  float: left;

  h3 {
    display: inline-block;
    margin: 0;
  }


  p {
    @include calc(width, "100% - 2rem");
    float: left;
  }

  &:hover {
    .comment-details-action-menu {
      opacity: 1;
    }
  }
}

.arrows {
  width: 2rem;
  float: left;
  margin-bottom: 0.6875rem;
}

.arrow {
  @include transition;
  cursor: pointer;
  opacity: .3;
  display: block;
  font-size: .875em;
  text-align: center;

  &:hover {
    opacity: 1;
  }
}

.comment-details{
  @extend %chip-head;
  @include ui-nub(8px, left-top, #f5f5f5, #c3c3c3);
  border-radius: 3px 3px 0 0;
  position: relative;

  h3 {
    font-size: 1rem;
    margin-left: 1rem;
  }

  span {
    margin-left: 1rem;
    font-style: italic;
  }
}

.comment-body {
  @include clearfix;
  position: relative;
  padding: 0.6875em 0.6875em 0 0.6875em;

  p {
    padding-left: 0.6875em;
  }
}

.comment-details-action-menu {
  opacity: 0;
  float: right;
  margin-top: em(7);
  margin-right: .5em;

  > a {
    font-size: .75em;
    color: $gray;
    text-shadow: 0 1px white;
  }
}

h4.rating {
  //border-radius: 50%;
  //box-shadow: 0 0 0 1px #bbb;
  float: left;
  font-family: 'Gill Sans', $base-font-family;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.25;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 2.25em;
  position: absolute;
  top: 0;
  left: 0;
}


///////////////////////////////////////////////////////////////////////////////
//
//  Userpage
//
///////////////////////////////////////////////////////////////////////////////

.full-feature {
  height: $base-line-height * 14;
  background: image-url('ssc13.jpg') 50% 50%;
  border-bottom: 1px solid #ccc;
}

.user-info {
  @extend %dark;
}

.user-meta {
  @include calc(width, "100% - #{$avatar-width} - #{$gutter * 3} - 14rem");
  float: left;
  margin-right: $gutter;

  h3 {
    margin-top: 0;
  }

  span {
    display: inline-block;
  }

  span + span {
    margin-left: 1em;
  }

  .ss-icon {
    margin-right: .25em;
    position: relative;
    top: .125em;
  }
}

.stat {
  width: 7em;
  float: left;
  line-height: 1;
  padding: .5em 0;
  margin-right: $gutter;

  .sign {
    line-height: 2em;
    position: relative;
    top: -.375em;
  }

  .value {
    font-size: 2em;
  }

  .measure {
    display: block;
    font-size: .825em;
  }
}

.trophies {
  width: 7rem;
  float: left;
  padding: 1.125rem 0;

  img {
    float: right;
  }
}

.user-meta h3 {
  margin-top: 0;
}

li.comment {
  .comment-chip, form {
    @include calc(width, "100% - 4.25rem - #{$gutter}");
  }
}

tspan {
  color: white;
  font-size: 34px;
  height: 120px;
  line-height: 120px;
  width: 120px;
}

#draw {
  display: block;
  position: relative;
  float: left;
  margin-left: $gutter;
}
