///////////////////////////////////////////////////////////////////////////////
//
//  Basic Application Layout
//
///////////////////////////////////////////////////////////////////////////////

html {
    body {
        background-color: $body-color;
        background: $body-color image-url('bg-noise.png');
    }
}

.wrapper {
    @include outer-container;

    @include breakpoint(max-width $max-width) {
        padding: 0 3rem;
    }
}

section {
    padding: $base-line-height 0;
}

.featured {
    background-image: image-url("feature-bg.png");
    @include box-shadow(inset 0 1px  0 rgba(0,0,0,.3), inset 0 -1px 0 rgba(0,0,0,.3));
    padding: $base-line-height 0;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);

    .thumb {
        margin: $gutter 0;
    }

    img {
        max-width: 100%;
    }
}

ol.thumbs {
    list-style: none;
    padding: 0;

    li.thumb {
        @include omega(3n);
        @include span-columns(4);
        float: left;
        margin-bottom: $gutter;

        div.identity {
            @include span-columns(2 of 4);

            p.title {
                margin: .5em 0 0;
            }

            p.author {
                font-size: .75em;
            }
        }

        div.stats {
            @include span-columns(2 of 4);
            text-align: right;

            canvas {
                margin-top: .6875rem;
            }

            span.average-rating {
                font: 400 1.75em $header-font-family;
            }
        }
    }
}

.img-wrap {
    @include box-shadow(0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1));
    @include linear-gradient(#fdfdfd, #fff);
    @include transition;
    background-color: #fff;
    border: 1px solid rgba(255,255,255,0.15);
    position: relative;

    img {
        @include transition;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        padding: 5px;
        position: relative;
    }

    .img-shadow {
        @include transition;
        background-color: rgba(0,0,0,0.1);
        border: 1px solid rgba(0,0,0,0.15);
        bottom: 5px;
        left: 5px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
    }
}

.img-wrap:hover .img-shadow {
    background-color: rgba(0,0,0,0);
}

ol.forum-posts {
    @include row;

    li.forum-post {
        @include omega(3n);
        @include span-columns(4);
        float: left;
        margin-bottom: $gutter;

        .avatar {
            @include span-columns(1 of 6);
            float: left;
        }

        hgroup {
            @include span-columns(5 of 6);
            float: left;
        }
    }
}

.avatar {
    .img-wrap {
        background: none;
        border: none;
        box-shadow: none;
    }

    img {
        border-radius: 3px;
        padding: 0;
    }

    .img-shadow {
        @include box-shadow(inset 0 1px rgba(0,0,0,.2));
        border: 1px solid rgba(0,0,0,0.25);
        border-radius: 3px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: 0px;

        &:hover {
            @include box-shadow(inset 0 1px rgba(255,255,255,0.15));
        }
    }
}

// Submission
.submission {
    @extend %dark;

    .vcard {
        @include clearfix;
    }

    .avatar {
        width: 4.25rem;
        margin-right: $gutter;
        float: left;
    }

    .byline {
    }

    .thumb {
        margin: $gutter auto;
        display: table;

        img {
            width: 100%;
        }
    }
}

.comments {
    ol li {
        @include span-columns(12);
        border-bottom: 1px solid $base-border-color;
        padding: $base-line-height 0;

        .avatar {
            width: 4.25rem;
            margin-right: $gutter;
            float: left;
        }

        .comment-body, form {
            width: -webkit-calc(100% - 4.25rem - #{$gutter});
            width: -moz-calc(100% - 4.25rem - #{$gutter});
            width: calc(100% - 4.25rem - #{$gutter});
            float: left;

            h2 {
                margin-top: 0;
            }
        }

        textarea {
            width: 100%;
            height: $base-line-height * 8;
        }

        input[type="submit"] {
            float: right;
        }
    }
}
