@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

@function pix($emval, $base: 16) {
  @return ($emval * $base) * 1px;
}

//  Nub     ////////////////////////////////

@mixin ui-nub($size: 8px, $position: top-right,  $bg-color: #fff, $border-color: rgb(100,100,100)) {

  &:before,
  &:after {
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
  }

  &:before {
    border: ($size + 1) solid transparent;
  }

  &:after {
    border: $size solid transparent;
  }

  @if ($position == top-left) or ($position == top-right) or ($position == top-center) {
    &:before {
      border-bottom-color: $border-color;
      top: -(($size * 2) + 2);
    }
    &:after {
      border-bottom-color: $bg-color;
      top: -(($size * 2) - 0);
    }

    @if $position == top-right {
      &:before {
        right: ($size * 2);
        margin-right: -($size + 1);
      }
      &:after {
        right: ($size * 2);
        margin-right: -$size;
      }
    }
    @else if $position == top-left {
      &:before {
        left: ($size * 2);
        margin-left: -($size + 1);
      }
      &:after {
        left: ($size * 2);
        margin-left: -$size;
      }
    }
    @else if $position == top-center {
      &:before {
        left: 50%;
        margin-left: -($size + 1);
      }
      &:after {
        left: 50%;
        margin-left: -$size;
      }
    }
  }
  @else if ($position == bottom-left) or ($position == bottom-right) or ($position == bottom-center) {
    &:before {
      border-top-color: $border-color;
      bottom: -(($size * 2) + 2);
    }
    &:after {
      border-top-color: $bg-color;
      bottom: -(($size * 2) - 0);
    }

    @if $position == bottom-right {
      &:before {
        right: ($size * 2);
        margin-right: -($size + 1);
      }
      &:after {
        right: ($size * 2);
        margin-right: -$size;
      }
    }
    @else if $position == bottom-left {
      &:before {
        left: ($size * 2);
        margin-left: -($size + 1);
      }
      &:after {
        left: ($size * 2);
        margin-left: -$size;
      }
    }
    @else if $position == bottom-center {
      &:before {
        left: 50%;
        margin-left: -($size + 1);
      }
      &:after {
        left: 50%;
        margin-left: -$size;
      }
    }
  }
  @else if ($position == left-top) or ($position == left-bottom) or ($position == left-center) {
    &:before {
      border-right-color: $border-color;
      left: -(($size * 2) + 2);
    }
    &:after {
      border-right-color: $bg-color;
      left: -(($size * 2) - 0);
    }

    @if $position == left-top {
      &:before {
        top: ($size * 2);
        margin-top: -($size + 1);
      }
      &:after {
        top: ($size * 2);
        margin-top: -$size;
      }
    }
    @else if $position == left-bottom {
      &:before {
        bottom: ($size * 2);
        margin-bottom: -($size + 1);
      }
      &:after {
        bottom: ($size * 2);
        margin-bottom: -$size;
      }
    }
    @else if $position == left-center {
      &:before {
        top: 50%;
        margin-top: -($size + 1);
      }
      &:after {
        top: 50%;
        margin-top: -$size;
      }
    }
  }
  @else if ($position == right-top) or ($position == right-bottom) or ($position == right-center) {
    &:before {
      border-left-color: $border-color;
      right: -(($size * 2) + 2);
    }
    &:after {
      border-left-color: $bg-color;
      right: -(($size * 2) - 0);
    }

    @if $position == right-top {
      &:before {
        top: ($size * 2);
        margin-top: -($size + 1);
      }
      &:after {
        top: ($size * 2);
        margin-top: -$size;
      }
    }
    @else if $position == right-bottom {
      &:before {
        bottom: ($size * 2);
        margin-bottom: -($size + 1);
      }
      &:after {
        bottom: ($size * 2);
        margin-bottom: -$size;
      }
    }
    @else if $position == right-center {
      &:before {
        top: 50%;
        margin-top: -($size + 1);
      }
      &:after {
        top: 50%;
        margin-top: -$size;
      }
    }
  }
}

@mixin horizontal-list($list-margin: 0 8px 0 0) {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        position: relative;
        margin: $list-margin;
        padding: 0;
        &:last-of-type {margin-right: 0;}
        a {
            display: inline-block;
        }
    }
}
