.thumbs-list {
  @include row;
  list-style: none;
  padding: 0;
}

.thumb {
  margin-bottom: $base-line-height;

  @include media($mobile) {
    @include span-columns(4);
  }

  @include media($tablet-only) {
    @include span-columns(4);
    @include omega(2n);
  }

  @include media($desktop) {
    @include span-columns(4);
    @include omega(3n);
  }
}

.thumb--identity {
  @include span-columns(2 of 4);

  .thumb--title {
    margin: .5em 0 0;
  }

  .thumb--author {
    font-size: .75em;
  }
}

.thumb--stats {
  @include span-columns(2 of 4);
  text-align: right;

  canvas {
    margin-top: .6875rem;
  }

  .average-rating {
    font: 400 1.75em $header-font-family;
  }
}

.thumb--img-wrap {
  @include transition;
  box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
  position: relative;

  &:hover .thumb--img-shadow {
  }
}

.thumb--img-shadow {
  @include transition;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.15);
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
  left: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;

  &:hover {
    opacity: 0;
  }
}

.thumb--img {
  display: block;
  width: 100%;
  padding: 0;
}

.thumb_submission {
  margin: $base-line-height 0;
}

.thumb_featured {
}

.avatar {
  @include transition(opacity, .15s);
  float: left;
  margin-right: $gutter;
  width: $avatar-width;

  &:hover {
    opacity: .85;
  }
}

.avatar--img {
  border-radius: $avatar-radius;
}
