ol.thumbs {
  @include row;
  list-style: none;
  padding: 0;
}

li.thumb {
  margin-bottom: $base-line-height;

  @include media($mobile) {
    @include span-columns(4);
  }

  @include media($tablet-only) {
    @include span-columns(4);
    @include omega(2n);
  }

  @include media($desktop) {
    @include span-columns(4);
    @include omega(3n);
  }

  div.identity {
    @include span-columns(2 of 4);

    p.title {
      margin: .5em 0 0;
    }

    p.author {
      font-size: .75em;
    }
  }

  div.stats {
    @include span-columns(2 of 4);
    text-align: right;

    canvas {
      margin-top: .6875rem;
    }

    span.average-rating {
      font: 400 1.75em $header-font-family;
    }
  }
}

.img-wrap {
  @include transition;
  position: relative;

  img {
    @include transition;
    display: block;
    width: 100%;
  }

  .img-shadow {
    @include transition;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &:hover .img-shadow {
    background-color: rgba(0,0,0,0);
  }
}

.thumb .img-wrap {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);

  img {
    padding: 0px;
  }
}

.submission .thumb .img-wrap {
  background: none;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.25);

  img {
    padding: 0px;
  }
}

.avatar {
  width: $avatar-width;
  float: left;
  margin-right: $gutter;

  img {
    border-radius: 3px;
    display: block;
  }

  .img-shadow {
    box-shadow: inset 0 1px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 3px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;

    &:hover {
      box-shadow: inset 0 1px rgba(255,255,255,0.15);
    }
  }
}


