@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import 'reset';
@import 'bourbon';
@import 'neat';

@import 'variables';
@import 'typography';
@import 'flashes';

@import 'header';

body {
  background-color: #111;
  color: #fff;
  font-family: $helvetica;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

a img {
  opacity: .95;
  @include box-shadow(2px 2px 2px black);

  &:hover {
    opacity: 1;
  }
}

.wrapper {
  @include outer-container;
}

section {
  padding: $gutter 0;
}

.featured {
  position: relative;
  @include clearfix;
  padding-top: 0;
  margin-top: $gutter;

  &:before {
    position: absolute;
    height: 101px;
    width: 101px;
    background-image: url('https://dl.dropbox.com/u/7641/featured.png');
    display: block;
    content: " ";
    float: left;
    z-index: 1;
    left: -3px;
    top: -3px;
  }

  img {
    max-width: 100%;
  }
}

ol.thumbs {
  list-style: none;
  @include clearfix;
  @include row;

  li.thumb {
    float: left;
    margin-bottom: $gutter;
    margin-right: $gutter;
    @include transition;
    @include span-columns(4);
    @include omega(3n);
    position: relative;

    &:hover span {
      opacity: 1;
    }

    .img-wrap {
      width: 320px;
      height: 200px;
    }

    img {
      max-width: 100%;
      max-height: 215px;
      @include transition;
      display: block;
      margin: 0 auto;
    }

    span {
      font-size: .875em;
      color: rgba(255,255,255,.6);
      font-style: italic;
      font-family: $georgia;
      margin: 0 auto;
      display: block;
      margin-top: 5px;
      position: absolute;
      bottom: 0;
      background-color: rgba(0,0,0,.6);
      width: 100%;
      padding: 6px 14px;
      opacity: 0;
      @include transition;

      &.comments {
        float: right;

        img {
          margin-left: .375em;}
        }

      a {
        font-style: normal;
        font-family: $helvetica;
        color: rgba(255,255,255,.8);
      }



      img {
        opacity: .5;
      }
    }
  }
}

nav.pagination ul {
  text-align: right;

 li {
   display: inline;
   margin: 0 .25em 0 0;
 }
}

nav.pagination ul li a {
  padding: 3px 8px;
  font-size: 14px;
  font-weight: bold;

  &.current {
    background-color: black;
  }

  &.inactive {
    color: rgba(255,255,255,.65);
  }
}

ol.forum-posts {
  @include row;
}

li.forum-post {
  @include span-columns(4);
  @include omega(3n);
  float: left;
  margin-bottom: $gutter;

  .avatar {
    @include span-columns(1 of 4);
    float: left;

    img {
      max-width: 100%;
    }
  }

  hgroup {
    float: left;
    @include span-columns(3 of 4);

    h3 {
      font-weight: 600;
    }

    p {
      color: rgba(255,255,255,0.65);
    }
  }
}

