@import 'reset';
@import 'bourbon';
@import 'neat';

.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/********************************************************************/
body {
  background-color: #111;
  color: #fff;
  font-family: $helvetica;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: .25em;
}

h2 {
  font-family: georgia;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 1em;
}

p {
  font-size: .875em;
}

a {
  color: #f1eee5;
  text-decoration: none;
  @include transition;

  &:hover {
    color: white;
    text-decoration: underline;
  }

  img {
    @include box-shadow(2px 1px black);
  }

  img:hover {
    @include transform(scale(1.02));
  }
}

.wrapper {
  @include outer-container;
}

section {
  padding: $gutter 0;
}

header {
  background-color: black;
  padding: 1em 0;
  margin-bottom: $gutter;

  .account {
    float: right;
  }
}

ol.thumbs {
  list-style: none;
  @include clearfix;

  li.thumb {
    @include span-columns(4); 
    @include omega(3n);
    float: left;
    margin-bottom: $gutter;

    img {
      max-width: 100%;
    }
  }
}

/*********************************************************/

nav.pagination ul {
  text-align: right;

 li {
   display: inline;
   margin: 0 4px 0 0;
 }
}

nav.pagination ul li a {
  padding: 3px 8px;
  font-size: 14px;
  font-weight: bold;

  &.current {
    background-color: black;
  }

  &.inactive {
    color: #999;
  }
}

li.forum-post {
  @include span-columns(4);
  @include omega(3n);
  float: left;
  margin-bottom: $gutter;

  .avatar {
    @include span-columns(1 of 4);
    float: left;

    img {
      max-width: 100%;
    }
  }

  hgroup {
    float: left;
    @include span-columns(3 of 4);

    h3 {
      font-weight: 600;
    }

    p {
      color: #999;
    }
  }
}
