body {
  background-color: $body-color;
  color: #333;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

.wrapper {
  @include outer-container;

  @include breakpoint(max-width $max-width) {
    padding: 0 1.5em;
  }
}

section {
  padding: $gutter 0;
}
