header {
  background-color: $header-background-color;
  line-height: 1;

  h1 a.brand {
    float: left;
    padding: 1rem 0;
    line-height: 1;
  }
}

nav ul.dropdown-list {
  float: left;
  padding: 1em;

  > ul li {
    padding: 1.5em 0;
  }

  .login {
    margin-right: 1em;
  }

  img {
    width: 2em;
  }
}

nav ul.main-nav {
  float: left;
  margin-left: 2.5em;
  padding: 1.5rem 0;

  li {
    display: inline;
    margin-right: 1.5em;
  }

  a {
    padding: 1em 0;
  }
}

nav.account {
  float: right;
}

ul.dropdown-list {
  @include transition;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  float: left;
  position: relative;
}

ul.dropdown-list li ul {
  @include box-shadow(2px 2px 1px rgba(0,0,0,.3));
  @include transition;
  background-color: white;
  border: 1px solid $border-color;
  display: none;
  padding: 0 .875em;
  position: absolute;
  right: 0;
  top: 4em;
  z-index: 1000;

  &:before {
    background-color: white; 
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    top: -1px;
    width: pix(4) - 1px;
  }

  li {
    display: block;
    float: none;
    width: 9em;

    &:not(:last-child) {
       border-bottom: 1px dotted $border-color;
    }
  }

  a {
    display: block;
    padding: 1em 0 1em .5em;
    width: 100%;

    &:hover i {
      color: $link-color;
    }

    i {
      color: $icon-color;
      margin-right: .75em;
    }
  }
}

ul.dropdown-list:hover > li ul {
    display: block;
}

ul.search {
  float: right;
  border-right: 1px solid $border-color;

  > li {
    color: $icon-color;
    font-size: 1.5rem;
    padding: 1.2rem;
  }
}
