body {
  font-family: 'PT Sans', $helvetica;
}

h1 {
  font: 200 2em 'Open Sans Condensed', $helvetica;
  text-transform: uppercase;
  letter-spacing: .125em;
}

h2 {
  font: 400 1.5em 'Open Sans Condensed', $helvetica;
  border-left: 1px solid rgba(0,0,0,.2);
  color: rgba(0,0,0,.6);
  letter-spacing: .125em;
  margin-bottom: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
}

p {
  font-size: .875em;
}

a {
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: $link-color;
  }
}
