%section
  .wrapper
    .heading
      %h1 Featured
    %table.features
      %thead
        %th 
        %th Submission Title
        %th Description
        %th Author
        - if policy(Feature).update?
          %th Manage
      %tbody
        = render @features

    = paginate @features
