%section
  .wrapper
    .heading
      %h1 Featured
    %table.features
      %thead
        %th 
        %th Submission Title
        %th Description
        %th Author
      %tbody
        = render @features
