%nav.browse-categories#browseList
  %ul
    %li=link_to 'Default', '#'
    %li=link_to 'Screenshots', '#'
    %li=link_to 'Visual Styles', '#'
    %li=link_to 'Litestep', '#'
    %li=link_to 'CAD', '#'
    %li=link_to 'Foobar', '#'
    %li=link_to 'Winamp', '#'
    %li=link_to 'SSC 11', '#'
    %li=link_to 'SSC 12', '#'
    %li=link_to 'SSC 13', '#'
    %li=link_to 'SSC 13', '#'
    %li=link_to 'Miranda', '#'
    %li=link_to 'Icons', '#'
    %li=link_to 'Samurize', '#'
    %li=link_to 'Mobile', '#'
    %li=link_to 'Blackbox', '#'
    %li=link_to 'Unix and Linux', '#'
    %li=link_to 'WindowBlinds', '#'
    %li=link_to 'Other', '#'
    %li=link_to 'Default', '#'
    %li=link_to 'Screenshots', '#'
    %li=link_to 'Visual Styles', '#'
    %li=link_to 'Litestep', '#'
    %li=link_to 'CAD', '#'
    %li=link_to 'Foobar', '#'
    %li=link_to 'Winamp', '#'
    %li=link_to 'SSC 11', '#'
    %li=link_to 'SSC 12', '#'
    %li=link_to 'SSC 13', '#'
    %li=link_to 'SSC 13', '#'
    %li=link_to 'Miranda', '#'
    %li=link_to 'Icons', '#'
    %li=link_to 'Samurize', '#'
    %li=link_to 'Mobile', '#'
    %li=link_to 'Blackbox', '#'
    %li=link_to 'Unix and Linux', '#'
    %li=link_to 'WindowBlinds', '#'
    %li=link_to 'Other', '#'
