- flash.each do |name, msg|
  - if msg.is_a?(String)
    = content_tag :div, :id => "flash_#{name}" do
      .wrapper
        #{msg}
= content_tag :div, :id => "flash_news" do
  .wrapper
    This is a test.
